
<div class='divise register'>
	
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form| %>	
		<ul class='list'>
			<li class="first form-group">
				<h2 class='heading'>Login</h2>
				<p>Welcome back. Type your username and password to get started!</p>
			</li>
			<li class="form-group">
				<label>Username</label>
				<%= form.text_field :username, :class => 'first required username defaultInvalid' %><span class='status pass'></span>
			</li>
			<li class="form-group">
				<label>Password</label>
				<%= form.password_field :password, :class => 'required password', :value => '', :autocomplete => 'off' %><span class='status pass'></span>
			</li>
			<li class="last form-group">
				<div class='alert'>
					<%= flash[:alert] %>
				</div>
			</li>
		</ul>
		
		<div class="action-bar">
			<span class="submit"><%= form.submit 'login', :class => 'button submit', :value => "" %>Submit</span>
			<span class="cancel"><a href='#link' title='Enables [Item] Removal' class='button cancel'></a>Cancel</span>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	//<![CDATA[
		
		// Autofocus on the username input field
		$(".first").focus();
		
		jQuery.validator.addMethod("defaultInvalid", function(value, element)
		{
		   return value != element.defaultValue;
		}, "");
		
		$("#user_new").validate();
		$('#user_new').submit(function(form)
		{
			if($("#user_new").valid())
			{
				form.submit();
			}
		});
	//]]>
</script>