
<div class="divise login">
	
	<div class="header">
		<h2 class="title">Login</h2>
		<p class="message">Thanks for registering. We promise you won't be disappointed. Just fill out the form below to get started!</p>
	</div>
	
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form| %>		
		<div class="group form">
			<label>Username</label>
			<%= label_tag "Username" %>
			<%= form.text_field :username, :class => "first required username defaultInvalid" %><span class="status pass"></span>
		</div>
		<div class="group form">
			<%= label_tag "Password" %>
			<%= form.password_field :password, :class => "required password", :value => "", :autocomplete => "off" %><span class="status pass"></span>
		</div>
		
		<div class="alert" style="">
			<%= flash[:alert] %>
		</div>
		
		<div class="wrapper actions">
			<span class="sprite button submit"><%= form.submit "login", :value => "Submit" %></span>
			<span class="sprite button cancel"><%= form.submit "login", :value => "Cancel" %></span>
			<div class="wrapper links">
				<span class="link">New? <%= link_to "Register Here", new_user_registration_url %></span>
				<span class="link"><%= link_to "Forgot Your Login or Password?", new_password_path(resource_name) %></span>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	//<![CDATA[
		
		// Autofocus on the first input field
		$("input.first").focus();
		
		jQuery.validator.addMethod("defaultInvalid", function(value, element)
		{
		   return value != element.defaultValue;
		}, "");
		
		$("#user_new").validate();
		$('#user_new').submit(function(form)
		{
			if($("#user_new").valid())
			{
				form.submit();
			}
		});
	//]]>
</script>