<div id='account-login-wrapper'>
	
	<div id='chromada-icon' class='site-image'><span class='hide'>chromada</span></div>
	
	<div id='account-login-body'>
		<div id='account-login-header'>
			<h1 id='account-login-title' class='site-image'><span class='hide'>Login</span></h1>
		</div>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form| %>
			<div class='form-group'>
			    <span class='form-field'><%= form.text_field :email, :class => 'required', :value => 'email address', :onFocus => 'this.value = ""', :onBlur => 'if(this.value == "") this.value = this.defaultValue;' %></span>
			</div>
	
			<div class='form-group'>
			    <span class='form-field'><%= form.password_field :password, :class => 'required', :value => 'password', :onFocus => 'this.value = ""', :onBlur => 'if(this.value == "") this.value = this.defaultValue;' %></span>
			</div>

			<% if devise_mapping.rememberable? -%>
				<div class='form-group'>
					<span class='form-field'><%= form.check_box :remember_me %></span><span class='form-label'> <%= form.label :remember_me %></span>
				</div>
			<% end -%>
	
			<span class='form-field'><%= form.submit :html => {:id => 'btn-login', :class => 'site-btn'} %></span>
		<% end %>

		<%= render :partial => "devise/shared/links" %>
	</div>
</div>