
<div class='divise login'>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form| %>	
		<div class='content-group'>
			<h2 class='title'>Login</h2>
			<p>Welcome back. Type your username and password to get started!</p>
		</div>
			
		<div class="form-group">
			<label>Username</label>
			<%= form.text_field :username, :class => 'first required username defaultInvalid' %><span class='status pass'></span>
		</div>
		
		<div class="form-group">
			<label>Password</label>
			<%= form.password_field :password, :class => 'required password', :value => '', :autocomplete => 'off' %><span class='status pass'></span>
		</div>
		
		<div class='alert'>
			<%= flash[:alert] %>
		</div>
		
		<div class="action-bar">
			<span class="submit"><%= form.submit 'login', :class => '', :value => "Submit" %></span>
			<div class='additional-links'>
				<span class='additional-link'>New? <%= link_to "Register Here", new_user_registration_url, :class => 'site-link' %></span>
				<span class='additional-link'><%= link_to "Forgot Your Login or Password?", new_password_path(resource_name), :class => 'site-link' %></span>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	//<![CDATA[
		
		// Autofocus on the username input field
		$("input.first").focus();
		
		jQuery.validator.addMethod("defaultInvalid", function(value, element)
		{
		   return value != element.defaultValue;
		}, "");
		
		$("#user_new").validate();
		$('#user_new').submit(function(form)
		{
			if($("#user_new").valid())
			{
				form.submit();
			}
		});
	//]]>
</script>