
<div class='divise register'>
	
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |form| %>	
		<ul class='list'>
			<li class="first">
				<h2 class='heading'>Registration</h2>
				<p>Thanks for registering. We promise you won’t be disappointed. Just fill out the form below to get started!</p>
			</li>
			<li>
				<label>First Name</label>
				<%= form.text_field :firstname, :class => 'first required name defaultInvalid' %><span class='status pass'></span>
			</li>
			<li>
				<label>Last Name</label>
				<%= form.text_field :lastname, :class => 'required name defaultInvalid' %><span class='status pass'></span>
			</li>
			<li>
				<label>Email Address</label>
				<%= form.text_field :email, :class => 'required email defaultInvalid' %><span class='status pass'></span>
			</li>
			<li>
				<label>User Name</label>
				<%= form.text_field :username, :class => 'required username defaultInvalid' %><span class='status fail'></span>
			</li>
			<li>
				<label>Password</label>
				<%= form.password_field :password, :class => 'required password', :value => '', :autocomplete => 'off' %><span class='status pass'></span>
			</li>
			<li>
				<label>Confirm Password</label>
				<%= form.password_field :password_confirmation, :class => 'required password', :value => '', :autocomplete => 'off' %><span class='status pass'></span>
			</li>
			<li>
				<div class='alert'>
					<% resource.errors.full_messages.each do |message| %>
						<%= message %>
					<% end %>
				</div>
			</li>
			<li class="last">
				<%= form.submit 'register', :class => 'button register' %>
				<a href='#link' title='Enables [Item] Removal' class='admin-button remove delete'></a>
			</li>
		</ul>
	<% end %>
</div>

<script type="text/javascript">
	//<![CDATA[
	
		// Autofocus on the username input field
		$(".first").focus();
		
		jQuery.validator.addMethod("defaultInvalid", function(value, element) {
		   return value != element.defaultValue;
		}, "");
		
		$("#user_new").validate();
		$('#user_new').submit(function(form)
		{	
			if($("#user_new").valid())
			{
				form.submit();
			}
		});
	//]]>
</script>