<div class='account register'>
	
	<div class='site-sprite icon'><span class='hide'>chromada</span></div>
	
	<div class='body'>
		<div class='header'>
			<h1 class='site-sprite title'><span class='hide'>Welcome To Chromada</span></h1>
		</div>

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |form| %>
			<%= devise_error_messages! %>

			<div class='account-modal-content-form'>
				<div class='form-group'>
				    <span class='form-field'><%= form.text_field :email, :class => 'required', :value => 'email address (used for login)', :onFocus => 'this.value = ""', :onBlur => 'if(this.value == "") this.value = this.defaultValue;' %></span>
				    <span class='form-field'><%= form.text_field :password, :class => 'required', :value => 'password', :onFocus => 'this.value = ""', :onBlur => 'if(this.value == "") this.value = this.defaultValue;' %></span>
				    <span class='form-field'><%= form.text_field :password_confirmation, :class => 'required', :value => 'confirm password', :onFocus => 'this.value = ""', :onBlur => 'if(this.value == "") this.value = this.defaultValue;' %></span>
				</div>
			</div>
			
			<%= form.submit 'Submit', :class => 'site-sprite button register', :value => '' %>
			
		<% end %>

		<div class='additional-links'>
			<%= render :partial => "devise/shared/links" %>
		</div>
	</div>
</div>