<div class='admin-grid-wrapper'>
	<%= render :partial => 'admin/shared/toolbar'%>
	<div class='admin-grid'>
		<table class='admin-table'>
			<tr class='table-header'>
				<% @columns.each do |k, v| %>
					<th><%= v[:name] %></th>
				<% end %>
			</tr>
			<% get_model.each do |m| %>
				<tr class='even' title='Click to Edit' onclick='window.location = "<%= get_edit_url m.id %>"'>
					<% @columns.each do |k, v| %>
						<% if (v[:type] == :email) %>
							<td class='employee-email'><%= mail_to('tylerflint@gmail.com', 'tylerflint@gmail.com') %></td>
						<% elsif (v[:type] == :image) %>
							<td><%= link_to image_tag('temp/employee-photo.jpg', :alt => 'Steven R Davis', :title => 'Steven R Davis'), root_url, :id => 'employee-photo-######', :class=> 'employee-photo' %></td>
						<% elsif (v[:type] == :status) %>
							<td><div class='employee-status in'><span class='hide'>in</span></div></td>
						<% else %>
							<td><%= m.send k %></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>
	<%= render :partial => 'admin/shared/toolbar' %>
</div>