<div class='content company'>
	
	<%= render :partial => 'admin/shared/actions_bar' %>
	
	<ul class = 'employee'>
		<li>
			<h3 class='header'>employee name</h3>
			<%= text_field %>
			<%= text_field '', :class => 'name', :name => 'employee[name]', :value => 'Type Employee Name Here', :onfocus => 'if(this.value=="Type Employee Name Here")value=""', :onblur => 'if(this.value=="")this.value="Type Employee Name Here"' %>
		</li>
		
		<li>
			<h3 class='header'>employee password</h3>
			<div class='password'>
				<%= text_field '', :class => 'password', :name => 'employee[password]', :onfocus => 'if(this.value=="Type Password")value=""', :onblur => 'if(this.value=="")this.value="Type Password"' %>
			
				<div class='checkbox-group'>
					<span class='special'>or</span>
					<span class='checkbox'><input type="checkbox"/></span><label>Auto Generate</label>
				</div>
			</div>
		</li>
		
		<li>
			<h3 class='header'>employee id</h3>
			<div class='id'>
				<%= text_field '', :class => 'id', :name => 'employee[id]', :onfocus => 'if(this.value=="Employee ID")value=""', :onblur => 'if(this.value=="")this.value="Employee ID"' %>
			
				<div class='checkbox-group'>
					<span class='special'>or</span>
					<span class='checkbox'><input type="checkbox"/></span><label>Auto Generate</label>
				</div>
			</div>
		</li>
		
		<li>
			<h3 class='header'>employee email</h3>
			<%= text_field '', :class => 'email', :name => 'employee[email]', :onfocus => 'if(this.value=="Email")value=""', :onblur => 'if(this.value=="")this.value="Email"' %>
		</li>
		
		<li>
			<h3 class='header'>employee permissions</h3>
			<div class='roles'>
				<ul>
					<li><span class='checkbox'><input type="checkbox"/></span><label>Role 1</label></li>
					<li><span class='checkbox'><input type="checkbox"/></span><label>Role 2</label></li>
					<li><span class='checkbox'><input type="checkbox"/></span><label>Role 3</label></li>
					<li><span class='checkbox'><input type="checkbox"/></span><label>Role 4</label></li>
					<li><span class='checkbox'><input type="checkbox"/></span><label>Role 5</label></li>
				</ul>
			</div>
		</li>
	</ul>
</div>

<script type="text/javascript" charset="utf-8">
	function autoGenerateEmployeeId (checkbox) {
		if (checkbox.checked) {
			$("#edit-employee-custom-id").val("").attr('disabled', true)
		} else {
			$("#edit-employee-custom-id").removeAttr('disabled')
		}
	}
</script>