<% content_for :left do %>
	<%= render :partial => 'admin/companies/menu', :locals => {:active => :employees} %>
<% end %>

<div class='content company'>
	
	<%= form_for [:admin, @company, @employee] do |form| %>
	  
		<%= render :partial => 'admin/shared/actions_bar', :locals => {:form => form, :object => @employee, :back_url => url_for([:admin, @company, :employees]), :delete_url => url_for([:admin, @company, @employee]) } %>
		
		<ul class='employee'>
			<li>
				<h3 class='heading'>employee name</h3>
				<input type='text' for='' name='employee[name]' class='required name defaultInvalid' value='<%= @employee.name || 'Type Employee Name Here' %>' onfocus='this.value = ""' onblur='if(this.value == "")this.value = this.defaultValue;' />
			</li>
			<li>
				<h3 class='heading'>employee email (optional)</h3>
				<input type='text' for='' name='employee[email]' class='email' value='<%= @employee.email || 'Type Employee Email Here' %>' onfocus='this.value = ""' onblur='if(this.value == "")this.value = this.defaultValue;' />
			</li>
		</ul>
		
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">
	//<![CDATA[
		$(document).ready(function()
		{
			$(".checkbox").dgStyle();
		});
	
		function autoGenerateEmployeeId(checkbox)
		{
			if (checkbox.checked)
			{
				$("#edit-employee-custom-id").val("").attr("disabled", true);
			}else{
				$("#edit-employee-custom-id").removeAttr("disabled");
			};
		};
	
		jQuery.validator.addMethod("defaultInvalid", function(value, element)
		{
		   return value != element.defaultValue;
		}, "");
	
		$("form.new_employee").validate();
		$("form.new_employee").submit(function(form)
		{
			if($("form.new_employee").valid())
			{
				form.submit();
			}
		});
	//]]>
</script>