<% content_for :left do %>
	<% if (@company.new_record?) %>
		<%= render :partial => 'admin/companies/menu', :locals => {:active => :companies} %>
	<% else %>
		<%= render :partial => 'admin/companies/menu', :locals => {:active => :edit} %>
	<% end %>
<% end %>

<div class='content company'>
		
	<%= form_for [:admin, @company] do |form| %>
	
		<%= render :partial => 'admin/shared/actions_bar', :locals => {:form => form, :object => @company, :back_url => url_for([:admin, :companies]), :delete_url => url_for([:admin, @company])} %>

		<ul class='body company'>
			<li>
				<h3 class='heading'>company name</h3>
				<input type='text' for='' name='company[name]' class='required name defaultInvalid' value='<%= @company.name || 'Type Company Name Here' %>' onfocus='this.value = ""' onblur='if(this.value == "")this.value = this.defaultValue;' />
			</li>
		</ul>
		
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">
	//<![CDATA[
		jQuery.validator.addMethod("defaultInvalid", function(value, element)
		{
		   return value != element.defaultValue;
		}, "");
	
		$("form.edit_company").validate();
		$("form.edit_company").submit(function(form)
		{
			if($("form.edit_company").valid())
			{
				form.submit();
			}
		});
	//]]>
</script>
