
<div class="divise password">
	
	<div class="header">
		<h2 class="title">Forgot Password</h2>
		<p class="message">Oops, Don't worry about it. Just fill out the form below and we'll have you fixed right up in no time!</p>
	</div>
	
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |form| %>		
		
		<div class="group form">
			<label>Email Address</label>
			<%= form.text_field :email, :class => "first required email defaultInvalid" %>
		</div>
		
		<div class="alert" style="display:none;">
			<%= flash[:alert] %>
		</div>
		
		<div class="wrapper actions">
			<span class="submit"><%= form.submit "login", :class => "sprite button", :value => "Submit" %></span>
			<div class="wrapper links">
				<span class="link">New? <%= link_to "Register Here", new_user_registration_url %></span>
				<span class="link">Already Registered? <%= link_to "Login Here", new_session_path(resource_name) %></span>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	//<![CDATA[
		
		// Autofocus on the first input field
		$("input.first").focus();
	
		jQuery.validator.addMethod("defaultInvalid", function(value, element)
		{
		   return value != element.defaultValue;
		}, "");
		
		$("#user_new").validate();
		$("#user_new").submit(function(form)
		{
			if($("#user_new").valid())
			{
				form.submit();
			}
		});
	//]]>
</script>