<div class="divise register">
	
	<div class="header">
		<h2 class="title">Registration</h2>
		<p class="message">Thanks for registering. We promise you won’t be disappointed. Just fill out the form below to get started!</p>
	</div>
	
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |form| %>	
		<div class="group form">
			<%= label_tag "First Name" %>
			<%= form.text_field :firstname, :class => "first required name defaultInvalid" %><span class="status pass"></span>
		</div>
		<div class="group form">
			<%= label_tag "Last Name" %>
			<%= form.text_field :lastname, :class => "required name defaultInvalid" %><span class="status pass"></span>
		</div>
		<div class="group form">
			<%= label_tag "Email Address" %>
			<%= form.text_field :email, :class => "required email defaultInvalid" %><span class="status pass"></span>
		</div>
		<div class="group form">
			<%= label_tag "User Name" %>
			<%= form.text_field :username, :class => "required username defaultInvalid" %><span class="status fail"></span>
		</div>
		<div class="group form">
			<%= label_tag "Password" %>
			<%= form.password_field :password, :class => "required password", :value => "", :autocomplete => "off" %><span class="status pass"></span>
		</div>
		<div class="group form">
			<%= label_tag "Confirm Password" %>
			<%= form.password_field :password_confirmation, :class => "required password", :value => "", :autocomplete => "off" %><span class="status pass"></span>
		</div>
		
		<div class="alert" style="">
			<% resource.errors.full_messages.each do |message| %>
				<%= message %>
			<% end %>
		</div>
		
		<div class="wrapper actions">
			<span class="sprite button submit"><%= form.submit "login", :value => "Submit" %></span>
			<span class="sprite button cancel"><%= form.submit "login", :value => "Cancel" %></span>
			<div class="wrapper links">
				<span class="link">Already Registered? <%= link_to "Login Here", new_session_path(resource_name) %></span>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	//<![CDATA[
		
		// Autofocus on the first input field
		$("input.first").focus();
		
		jQuery.validator.addMethod("defaultInvalid", function(value, element)
		{
		   return value != element.defaultValue;
		}, "");
		
		$("#user_new").validate();
		$("#user_new").submit(function(form)
		{
			if($("#user_new").valid())
			{
				form.submit();
			}
		});
	//]]>
</script>