	
<%= link_to "", root_url, :class => "sprite image logo" %>

<%if user_signed_in? %>
	<%= link_to "", admin_dashboard_url, :class => "sprite button dashboard" %>
<% else %>
	<%= link_to "", new_user_registration_url, :class => "sprite button register"%>
<% end %>
	
<!-- PRIMARY NAV -->
<div class="rule"></div>
<ul class="nav">
	<li class="link"><%= link_to "", products_url, 					:class => (@active == "products") 	? "products active" : "products" %></li>
	<li class="link"><%= link_to "", products_url + "#download", 	:class => (@active == "downloads") 	? "downloads active" : "downloads" %></li>
	<li class="link"><%= link_to "", contact_url,					:class => (@active == "contact") 	? "contact active" : "contact" %></li>
</ul>

<div class="wrapper dashboard">
	<%if user_signed_in? %>
		<%= link_to "", destroy_user_session_url, :class => "sprite button logout" %>
	<% else %>
		<%= link_to "", new_user_session_url, :class => "sprite button login" %>
	<% end %>
</div>
<div class="rule"></div>
