<%= link_to '', root_url, :id => 'logo', :class=> 'site-image' %>

<%= link_to '', root_url, :id => 'sign-up', :class=> 'site-image' %>

<!-- HEADER -->
<div id='header'>
	
	<div class='page-divide'></div>
	
	<!-- PRIMARY NAV -->
	<div id='primary-nav' class='nav'>
		<ul>
			<li><%= link_to '', products_url, 	:id => 'link-products', 	:class => (@active == 'products') 	? 'active' : '' %>::</li>
			<li><%= link_to '', services_url, 	:id => 'link-services', 	:class => (@active == 'services') 	? 'active' : '' %>::</li>
			<li><%= link_to '', downloads_url, 	:id => 'link-downloads', 	:class => (@active == 'downloads') 	? 'active' : '' %>::</li>
			<li><%= link_to '', support_url, 	:id => 'link-support', 		:class => (@active == 'support') 	? 'active' : '' %>::</li>
			<li><%= link_to '', about_url, 		:id => 'link-about', 		:class => (@active == 'about') 		? 'active' : '' %>::</li>
			<li><%= link_to '', contact_url,	:id => 'link-contact', 		:class => (@active == 'contact') 	? 'active' : '' %></li>
		</ul>
	</div>
	
	<div id='header-additional'>
	
		<!-- LOGIN -->
		<div id='account-login-wrapper'>
			<span id='btn-site-login' class='site-image' onclick='showLogin();'></span>

			<div id='account-login'>
				<form>
					<div id='account-login-returning-user'>
						<% form_for(:login, :url => { :controller => "", :action => "" }, :html => { :id => 'account-login-form', :class => 'form', :method => :post }) do |form| %>
							<h4>Returning user login:</h4>
							<div class='form-group'>
							    <span class='form-field'><%= form.text_field :name, :class => 'required', :value => 'name', :onFocus => 'this.value = ""', :onBlur => 'if(this.value == "") this.value = this.defaultValue;' %></span>
							</div>
						
							<div class='form-group'>
							    <span class='form-field'><%= form.text_field :password, :class => 'required', :value => 'password', :onFocus => 'this.value = ""', :onBlur => 'if(this.value == "") this.value = this.defaultValue;' %></span>
							</div>
						
							<a href=''><span class='site-link'>Forgotten Password?</span></a>
						<% end %>
					</div>
				</form>
			</div>
		</div>
		
		<div class='pipe' style='height:12px;'></div>
	
		<!-- SEARCH -->
		<div id='site-search'>
			<% form_for(:search, :url => { :controller => "", :action => "" }, :html => { :id => 'site-search-form', :class => 'form', :method => :post }) do |form| %>
				<span class='form-field'><%= form.text_field :search, :class => 'required', :value => 'search', :onFocus => 'this.value = ""', :onBlur => 'if(this.value == "") this.value = this.defaultValue;' %></span>
			<% end %>
			<span id='site-search-icon' class='site-image hand-cursor'></span>
		</div>
	
	</div>
	
	<div class='page-divide'></div>
</div>

<script type='text/javascript'>
	//<![CDATA[
		function showLogin()
		{
			$('#account-login').show();
		}
		
		function hideLogin()
		{
			$('#account-login').hide();
		}
	//]]>
</script>