<%= link_to image_tag('', :alt => ''), root_url, :id => 'logo', :class=> 'site-image' %>

<!-- HEADER -->
<div id='header'>
	
	<!-- PRIMARY NAV -->
	<div id='primary-nav'>
		<ul>
			<li><%= link_to "products :", 	products_url, 	:class => (@active == 'products') 	? 'active-link' : '' %></li>
			<li><%= link_to "services :", 	services_url, 	:class => (@active == 'services') 	? 'active-link' : '' %></li>
			<li><%= link_to "downloads :", 	downloads_url, 	:class => (@active == 'downloads') 	? 'active-link' : '' %></li>
			<li><%= link_to "support :", 	support_url, 	:class => (@active == 'support') 	? 'active-link' : '' %></li>
			<li><%= link_to "about :", 		about_url, 		:class => (@active == 'about') 		? 'active-link' : '' %></li>
			<li><%= link_to "contact :", 	contact_url,	:class => (@active == 'contact') 	? 'active-link' : '' %></li>
		</ul>
	</div>
	
	<!-- LOGIN -->
	<div id='account-login-wrapper'>
		<span class='btn-site-login'>login</span>

		<div id='account-login'>
			<form>
				<div id='account-login-new-user' class='site-image'></div>
				
				<div id='account-login-returning-user'>
					<% form_for(:quote, :url => { :controller => "", :action => "" }, :html => { :id => 'account-login-form', :class => 'form', :method => :post }) do |form| %>
						<h4>Returning user login:</h4>
						<div class='form-group'>
						    <span class='form-field'><%= form.text_field :name, :class => 'required', :value => 'name' %></span>
						</div>
						
						<div class='form-group'>
						    <span class='form-field'><%= form.text_field :password, :class => 'required', :value => 'password' %></span>
						</div>
						
						<a href=''><span class='site-link'>Forgotten Password?</span></a>
					<% end %>
				</div>
			</form>
		</div>
	</div>
	
	<!-- SEARCH -->
	<div id='site-search'>
		<input value='search'></input><span id='site-search-icon' class='hand-cursor'></span>
	</div>
	
</div>

<div class='main-divider site-image'></div>

<script type="text/javascript">
	
</script>