
<div id='edit-employee-roles'>
	<h2 class='role-name'>Name This Role</h2>
	<form id='edit-employee-roles-form'>
		
		<div class='button-bar'>
			<div id='edit-employee-controls'>
				<div class='admin-sprite button save' onclick="save()"></div>
				<div class='admin-sprite button cancel' onclick="cancel()"></div>
				<div class='admin-sprite button delete' onclick="destroy()"></div>
			</div>
		</div>
		
		<input class='rolename' type="text" name="" value='' onfocus='if(this.value=="Name This Role")value=""' onblur='if(this.value=="")this.value="Name This Role"'/>
		<span class='todo'>TODO: validate that they actually added a new name</span>
		
		<div class="edit-employee-roles-group">
			<ul>
				<% action_tree.each do |key, node| %>
					<%= build_action_list_item(key, node) %>
				<% end %>
			</ul>
		</div>
		
		<!--
		<div class='edit-employee-roles-group'>
			<ul>
				<li class='checkbox-group even'><input type="checkbox" name=""/><label class='parent active'><span class='arrow'></span>Level 1</label>
					<ul class='sub'>
						<li class='checkbox-group odd'><input type="checkbox" name="" /><label>Level 2</label></li>
						<li class='checkbox-group even'><input type="checkbox" name="" /><label>Level 2</label></li>
						<li class='checkbox-group odd'><input type="checkbox" name="" /><label class='parent active'><span class='arrow'></span>Level 2</label>
							<ul class='sub'>
								<li class='checkbox-group even'><input type="checkbox" name="" /><label>Level 3</label></li>
								<li class='checkbox-group odd'><input type="checkbox" name="" /><label>Level 3</label></li>
								<li class='checkbox-group even'><input type="checkbox" name="" /><label class='parent active'><span class='arrow'></span>Level 3</label>
									<ul class='sub'>
										<li class='checkbox-group odd'><input type="checkbox" name="" /><label>Level 4</label></li>
										<li class='checkbox-group even'><input type="checkbox" name="" /><label>Level 4</label></li>
										<li class='checkbox-group odd'><input type="checkbox" name="" /><label class='parent active'><span class='arrow'></span>Level 4</label>
											<ul class='sub'>
												<li class='checkbox-group even'><input type="checkbox" name="" /><label>Level 5</label></li>
												<li class='checkbox-group odd'><input type="checkbox" name="" /><label>Level 5</label></li>
											</ul>
										</li>
										<li class='checkbox-group even'><input type="checkbox" name="" /><label>Level 4</label></li>
										<li class='checkbox-group odd'><input type="checkbox" name="" /><label>Level 4</label></li>
									</ul>
								</li>
								<li class='checkbox-group even'><input type="checkbox" name="" /><label>Level 3</label></li>
							</ul>
						</li>
						<li class='checkbox-group odd'><input type="checkbox" name="" /><label>Level 2</label></span></li>
						<li class='checkbox-group even'><input type="checkbox" name="" /><label>Level 2</label></span></li>
						<li class='checkbox-group odd'><input type="checkbox" name="" /><label class='parent inactive'><span class='arrow'></span>Level 2</label></li>
						<li class='checkbox-group even'><input type="checkbox" name="" /><label>Level 2</label></span></li>
					</ul>
				</li>
				<li class='checkbox-group odd'><input type="checkbox" name="" /><label>Level 1</label></li>
				<li class='checkbox-group even'><input type="checkbox" name="" /><label>Level 1</label></li>
				<li class='checkbox-group odd'><input type="checkbox"/><label class='parent inactive'><span class='arrow'></span>Level 1</label></li>
				<li class='checkbox-group even'><input type="checkbox"/><label>Level 1</label></li>
				<li class='checkbox-group odd'><input type="checkbox"/><label>Level 1</label></li>
			</ul>
		</div>
		-->
	</form>
</div>

<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.text_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type='text/javascript'>
	$(document).ready(function () {
		initActionTree()
	})

	function initActionTree () {
		count = 0
		$(".checkbox-group").each(function () {
			if (count % 2 != 0){
				$(this).addClass('odd')
			} else {
				$(this).addClass('even')
			}
			count++
		})
	}

	// $('.rolename').keyup(function () {
	// 	var value = $(this).val();
	// 	$('.role-name').text(value);
	// }).keyup();
</script>