<div class='content company'>
	
	<% if @role.new_record? %>
		<h2 class='role-name'>Name This Role</h2>
	<% else %>
		<h2 class='role-name'><%= @role.name %></h2>
	<% end %>
	
	<%= form_for [:admin, @company, @role] do |f| -%>

		<%= render :partial => 'admin/shared/edit_toolbar', :locals => {:form => f, :record => @role} %>

		<div class = 'add-role'>
			<%= f.text_field :name, :onfocus => 'if(this.value=="Name This Role")value=""', :onblur => 'if(this.value=="")this.value="Name This Role"' %>
			<input type="text" name="action_ids" id="role_action_ids" value="<%= @role.action_ids.join(",") %>">

			<div class="role-actions">
				<ul>
					<% action_tree.each do |key, node| %>
						<%= build_action_list_item(key, node) %>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>
</div>

<script type='text/javascript'>
	$(document).ready(function () {
		initActionState()
		colorActionTree()
		addActionClickEvent()
		addParentActionClickEvent()
	})

	function colorActionTree () {
		count = 0
		$(".checkbox-group").each(function () {
			if (count % 2 != 0){
				$(this).addClass('odd')
			} else {
				$(this).addClass('even')
			}
			count++
		})
	}

	function initActionState () {
		ids = $('#role_action_ids').val().split(',')
		$.each(ids, function(key, value) {
			// $('#action_' + value).attr('checked', true)
			// $('#action_' + value).triggerHandler('click')
			// alert(this.id)
		})
	
	}

	function addActionClickEvent () {
		$(".role-actions input:checkbox").each(function (){
			alert(this.id)
			$(this).change(updateCheckedActions)
		})
	}

	function addParentActionClickEvent () {
		$(".role-actions input:checkbox.parent").each(function (){
			$(this).change(function () {
				alert('hey')
				var checked = $(this).attr('checked')
				$(this).parent().find('ul li input:checkbox').each(function () {
					// $(this).attr('checked', checked)
					// $(this).triggerHandler('click')
					alert(this.id)
				})
				updateCheckedActions()
			})
		})
	}

	function updateCheckedActions () {
		ids = new Array()
		$(".role-actions input:checkbox:checked").each(function () {
			if (this.name != '') {
				ids.push(this.name.replace(/action_/, ''))
			}
		})
		$('#role_action_ids').val(ids.toString())
	}

	// $('.rolename').keyup(function () {
	// 	var value = $(this).val();
	// 	$('.role-name').text(value);
	// }).keyup();
</script>