<div class='company content'>
	<h2>Edit <%= @company.name %> Roles</h2>
	
	<div class='toolbar'>
		<%= link_to "+ New Role", new_admin_company_role_url(@company), :class => 'new' %>
		<span class='search'><%= text_field 'search roles', :class => '', :name => '' %><span class='button icon'></span></span>
	</div>
	
	<div class='roles-list'>
		<ul>
			<% @roles.each do |role| %>
				<li><a href="<%= edit_admin_company_role_url(@company, role) %>"><%= role.name %> <span class='list-image delete'></span></a></li>
			<% end %>
		</ul>
	</div>
</div>
