<% content_for :left do %>
	<%= render :partial => 'admin/companies/menu', :locals => {:active => :users} %>
<% end %>

<div class='content company'>
	
	<%= form_for [:admin, @company, @user] do |f| %>
	  
		<%= render :partial => 'admin/shared/actions_bar', :locals => {:form => f, :object => @user, :back_url => url_for([:admin, @company, :users]), :delete_url => url_for([:admin, @company, @user]) } %>
		
		<ul class='body user'>
			<li>
				<h3 class='heading'>username</h3>
				<div class="username"><%= @user.username %></div>
			</li>
			<%= render :partial => 'permissions' %>
		</ul>
		
	<% end %>
</div>