<div class="column full">
	<div class="nav select company">
		<% if (@company && !@company.new_record?) %>
			<div class="wrapper">
				<h2 class="heading"><a href="<%= url_for([:admin, @company, :dashboard]) %>"><%= @company.name %><span class="arrow"></span></a></h2>
				<span class="sprite button toggle"><a href="#link" onclick="toggle()">Switch Company</a></span>
			</div>
			
			<div class="wrapper last">
				<ul class="list companies">
					<% current_user.companies.only(:name).asc(:name).each do |c| %>
						<% if (c!=@company) %>
							<li><a href="<%= url_for([:admin, c, :dashboard]) %>"><%= c.name %><span class="arrow"></span></a></li>
						<% end %>
					<% end %>
				
					<li class="last">
						<a href="<%= new_admin_company_url %>" class="add last" title="Add New">Add New Company<span class="sprite button add"></span></a>
					</li>
				</ul>
			</div>
		<% else %>
			<h2 class='heading'>Dashboard</h2>
		<% end %>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
	   $(".list.companies").css({"margin-top": 0 - $(".list.companies").outerHeight() + "px"});
	});
	
	var isOpen = false;
	function toggle()
	{
		if(isOpen)
		{
			$(".list.companies").animate({"margin-top": "-=" + $(".list.companies").outerHeight() + "px"}, {duration:350, easing:'easeOutExpo'});
			isOpen = false;
		}else{
			$(".list.companies").animate({"margin-top": "+=" + $(".list.companies").outerHeight() + "px"}, {duration:350, easing:'easeOutExpo'});
			isOpen = true;
		}
	}
</script>