<div class='content company'>
	<ul class='list <%= p.object_label_plural.downcase %>'>
		<li class='first search' title='Search <%= p.object_label_plural.capitalize %> List'><span class='admin-sprite icon'></span><input id="search-filter" value='Search <%= p.object_label_plural.capitalize %>' onfocus='if(this.value=="Search <%= p.object_label_plural.capitalize %>")value=""' onblur='if(this.value=="")this.value="Search <%= p.object_label_plural.capitalize %>"'/>
			<div class='actions-bar'>
				<a href='<%= url_for [:new, :admin, @company, p.object] %>' title='Add New <%= p.object_label_plural %>' class='admin-button add'></a>
				<a href='#link' title='Enables [Item] Removal' class='admin-button remove' onclick='toggleRemove()'></a>
			</div>
		</li>
		<div class="results">
			<%= p.list %>
		</div>
		<li class='last'><a href='<%= url_for [:new, :admin, @company, p.object] %>' class='add' title="Add New">Add New <%= p.object_label %><span class='admin-button add'></span></a></li>
	</ul>
</div>

<script type="text/javascript" charset="utf-8">
	//<![CDATA[
		var filtered = false;
		$(document).ready(function()
		{
			$('#search-filter').keyup(function()
			{
				filter();
			});
		});
		
		function filter()
		{
			filtered = true;
			$.get('<%= url_for([:admin, @company, p.object.to_s.pluralize]) %>?ajax=true&search=' + $('#search-filter').val(), function(data)
			{
				$('.results').html(data);
			})
		}
		
		function showAll()
		{
			var url = '<%= url_for([:admin, @company, p.object.to_s.pluralize]) %>?ajax=true&show_all=true';
			if (filtered) {
				url += "&search=" + $('#search-filter').val();
			}
			$.get(url, function(data)
			{
				$('.results').html(data);
			})
		}
		
		function toggleRemove()
		{
			$('.removable').each(function()
			{
				$(this).toggleClass('remove', 'arrow');
			});
		}
	//]]>
</script>