<div class='toolbar'>
	<%= link_to "+ New #{p.object_label}", [:new, :admin, @company, p.object], :class => 'new' %>
	<span class='search'><input type="text" id='search-filter' /><span class='button icon'></span></span>
</div>

<div class='<%= p.object %>-list'>
	<ul>
		<%= p.list %>
	</ul>
</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('#search-filter').keyup(function(){
			filter()
		})
	})
	function filter () {
		$.get('<%= url_for([:admin, @company, p.object.to_s.pluralize]) %>?search=' + $('#search-filter').val(), function(data){
			$('.<%= p.object %>-list ul').html(data)
		})
	}
</script>