<div class='content <%= p.object_label %>'>
	<ul class='list <%= p.object_label_plural %>'>
		<li class='search' title='Search <%= p.object_label_plural.capitalize %> List'><input value='Search <%= p.object_label_plural.capitalize %>'/><%= render :partial => 'admin/shared/actions_bar' %></li>
		<div class="results">
			<%= p.list %>
		</div>
	</ul>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('#search-filter').keyup(function(){
			filter()
		})
	})
	function filter () {
		$.get('<%= url_for([:admin, @company, p.object.to_s.pluralize]) %>?search=' + $('#search-filter').val(), function(data){
			$('.<%= p.object %>-list ul').html(data)
		})
	}
</script>