<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="Chromada (http://www.chromada.com)"/>
		<meta name="abstract" content=""/>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="revisit-after" content="15 Days"/>
		<meta name="robots" content="index, follow"/>
		
		<!-- LOAD CSS -->
		<%= stylesheet_link_tag 'styles' %>
		<%= stylesheet_link_tag 'messaging' %>
		<%= stylesheet_link_tag 'olark' %>
		<%= stylesheet_link_tag "admin" %>
		<%= stylesheet_link_tag "custom_radio_checkbox" %>
		
		<!-- LOAD JAVASCRIPT -->
		<%= javascript_include_tag 'jquery-1.4.2.min' %>
		<%= javascript_include_tag 'jquery-ui-1.8.5.custom.min' %>
		<%= javascript_include_tag 'jquery.custom_radio_checkbox' %>
		<%= javascript_include_tag 'jquery.validation' %>
		<%= javascript_include_tag 'admin' %>
		<%= csrf_meta_tag %>
		
		<!-- FAVICON -->
		<link rel="icon" type="image/x-icon" href="images/favicon.png"/>
		
		<title><%= @title %></title>
		
		<%= yield :head %>
		
		<!-- BEGIN GOOGLE ANALYTICS -->
		<%= render :partial => 'shared/ga'%>
		<!-- END GOOGLE ANALYTICS -->
		
		<!-- BEGIN TYPEKIT -->
		<%= render :partial => 'shared/typekit'%>
		<!-- END TYPEKIT -->
	</head>

	<body id='admin'>
		<%= render :partial => 'admin/shared/messaging' %>
		<div class='page-wrapper'>
			<div class='page'>
				<div id='hd' class='header'>
					<%= render :partial => 'admin/shared/header' %>
				</div>
				
				<div id='bd' class='body'>
					<div class='panel'>
						<%= render :partial => 'admin/shared/dashboard' %>
					</div>
					
					<div class='left-column'>
						<%= yield :left %>
					</div>
					
					<div class="right-column">
						<%= yield %>
					</div>
				</div>
			</div>			
		</div>
		
		<div id='ft' class='footer'>
			<%= render :partial => 'shared/footer' %>
		</div>
		
		<!-- BEGIN OLARK -->
		<%= render :partial => 'shared/olark' %>
		<!-- END OLARK -->
		
	</body>
</html>