<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="Chromada (http://www.chromada.com)"/>
		<meta name="abstract" content=""/>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="revisit-after" content="15 Days"/>
		<meta name="robots" content="index, follow"/>
		
		<!-- LOAD CSS --> 
		<%= stylesheet_link_tag 'styles' %>
		<%= stylesheet_link_tag "admin" %>
		<%= stylesheet_link_tag "custom_radio_checkbox.css" %>
		
		<!-- LOAD JAVASCRIPT -->
		<%= javascript_include_tag 'jquery.js' %>
		<%= javascript_include_tag 'jquery.custom_radio_checkbox.js' %>
		
		<title><%= @title %></title>
		
		<%= yield :head %>
	</head>

	<body id='admin'>
		
		<script type='text/javascript'>
			$(document).ready(function(){
				$(".radio").dgStyle();
				$(".checkbox").dgStyle();
			});
		</script>
		
		<div class='page-wrapper'>
			<div class='page'>
				<div class='header'>
					<%= render :partial => 'shared/header' %>
				</div>
				
				<h1 class='page-heading'>Page Heading</h1>
				
				<div class='body'>
					<div class='left-column'>
						<%= render :partial => 'admin/shared/left_column' %>
					</div>
					
					<div class="right-column">
						<%= yield %>
					</div>
				</div>
				
				<div class='footer'>
					<%= render :partial => 'shared/footer' %>
				</div>
			</div>			
		</div>
		
		<!-- BEGIN GOOGLE ANALYTICS -->
		<%= render :partial => 'shared/ga'%>
		<!-- END GOOGLE ANALYTICS -->
		
	</body>
</html>