<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
"http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="description" content="Web-base tools, superior orginazation, efficient business."/>
		<meta name="keywords" content="chromada inc, chromada, business services, business solutions, business management, services, solutions, ticker, time management, time, clock, employee management, project management, management software"/>
		<meta name="robots" content="index, follow"/>
		<meta name="revisit-after" content="1 month"/>
		
		<!-- LOAD CSS -->
		<%= stylesheet_link_tag 'mobile' %>
		
		<!-- LOAD JAVASCRIPT -->
		<%= javascript_include_tag 'jquery.min' %>
		<%= javascript_include_tag 'jquery-ui.min' %>
		<%= javascript_include_tag 'jquery.validation' %>
		
		<title><%= @title %></title>
		
		<%= yield :head %>
		
		<!-- BEGIN GOOGLE ANALYTICS -->
		<%= render :partial => 'shared/ga'%>
		<!-- END GOOGLE ANALYTICS -->
		
		<!-- BEGIN TYPEKIT -->
		<%= render :partial => 'shared/typekit'%>
		<!-- END TYPEKIT -->
	</head>
	
	<body id="home" class="mobile">
		<div class="wrapper page">
			<div class="page">
				<div class="header"></div>
				<div class="section body">
					<%= yield %>
				</div>
				<div class="footer">
					<%= render :partial => 'shared/mobile/footer' %>
				</div>
			</div>			
		</div>
	</body>
</html>