<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="description" content="Web-base tools, superior orginazation, efficient business."/>
		<meta name="keywords" content="chromada inc, chromada, business services, business solutions, business management, services, solutions, ticker, time management, time, clock, employee management, project management, management software"/>
		<meta name="robots" content="index, follow"/>
		<meta name="revisit-after" content="1 month"/>
		
		<!-- LOAD CSS -->
		<%= stylesheet_link_tag 'styles' %>
		<%= stylesheet_link_tag 'messaging' %>
		<%= stylesheet_link_tag 'olark' %>
		
		<!-- LOAD JAVASCRIPT -->
		<%= javascript_include_tag 'jquery-1.5.min' %>
		<%= javascript_include_tag 'jquery-ui-1.8.9.custom.min' %>
		<%= javascript_include_tag 'jquery.custom_radio_checkbox' %>
		<%= javascript_include_tag 'jquery.validation' %>
		<%= javascript_include_tag 'application' %>
		
		<!-- FAVICON -->
		<link rel="icon" type="image/x-icon" href="images/favicon.png"/>
		
		<title><%= @title %></title>
		
		<%= yield :head %>
		
		<!-- BEGIN GOOGLE ANALYTICS -->
		<%= render :partial => 'shared/ga'%>
		<!-- END GOOGLE ANALYTICS -->
		
		<!-- BEGIN TYPEKIT -->
		<%= render :partial => 'shared/typekit'%>
		<!-- END TYPEKIT -->
	</head>
	
	<body class="column one">
		<div class="wrapper page">
			<div class="page">
				<div class="header">
					<%= render :partial => 'shared/header' %>
				</div>
				
				<div class="section body">
					<%= yield %>
				</div>
				
				<div class="footer">
					<%= render :partial => 'shared/footer' %>
				</div>
			</div>			
		</div>
		
		<script type='text/javascript'>
			//<![CDATA[
				/*
				// jQuery: When document is loaded and ready to process:
				$(document).ready(function() {
				    //Footer Push: Pushes footer to the bottom of the page. Call the function and pass the ID of your main content element   
				    footerPush(".body");
				});
				*/
			//]]>
		</script>
		
		<!-- BEGIN OLARK -->
		<%= render :partial => 'shared/olark' %>
		<!-- END OLARK -->
		
	</body>
</html>